#header {
  background: #010049;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0;
  outline: none;
}

.shop {
  color: #ffffff;
  font-weight: 700;
}

.text {
  padding: 15px 48px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid grey;
  font-size: 16px;
  color: grey;
}

.content {
  display: flex;
  gap: 60px;
}

.span {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  gap: 10px;
}

.basket {
  color: white;
  font-size: 20px;
}
.person{
   display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  gap: 10px;
}
.admin{
  color: white;
  font-size: 20px;
}


.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }
